@import url("https://fonts.googleapis.com/css2?family=Ubuntu");

* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url("https://scontent.fnbo2-1.fna.fbcdn.net/v/t1.6435-0/p180x540/42723697_931732043683940_6122180013035880448_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=e3f864&_nc_eui2=AeELLh5-ko_Ds7NcICKXy3kGXlvx6k0BXUReW_HqTQFdRAB13Uh3hPBAeg-Zc8awCWBgpe_7UA3ZBksK-Nmd3C2f&_nc_ohc=pvjr0m03qn8AX-v7zym&_nc_ht=scontent.fnbo2-1.fna&tp=6&oh=709a34c79e14d8917cc97fb3b3f9eff1&oe=60E8922C")
    no-repeat center/cover;
  position: absolute;
  top: -30;
  left: -30;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 50px;
  color: #fff;
}
